:root {
    --bg2: url(../img/bg_leaf.jpg);
}

#aboutDiv {
    background: var(--bg2) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutText {
    margin: auto;
}
