#aboutDiv {
    background: var(--bg3) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutTitle {
    text-align: center;
    font-size: 3.25em;
    font-weight: bolder;
    -webkit-text-stroke: 2px var(--sand2);
    color: var(--colblue2);
}

#aboutText {
    margin: auto;
    width: 80%;
    text-align: center;
}


#bubble {
    background-color: var(--bubb);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 3px;
    border-style: solid;
    border-color: var(--gr);
}




#villCards {
    border-radius: 5px;
    margin-bottom: 30px;
    
}

#cards {
    border-radius: 10px;
    margin-bottom: 40px;
}

#villagerImg {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#villagerFigure {
    margin: auto;
    background-color: var(--sand2);
}

#villagerName {
    text-align: center;
}

#cardText {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.card-container {
    perspective: 700px;
    
}

.card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.card-flip {
    display: grid;
    grid-template: 1fr/1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
    background-color: var(--sand2);
    border: 3px;
    border-style: solid;
    border-color: var(--colblue2);
}

.card-front {
    grid-area: frontAndBack;
}

.card-back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg)

}

.card-front, .card-back {
    background-color: var(--sand2);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

.aboutInfo {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 776px) {
    .card-flip {
        justify-content: center;
    }
}