#chartsDiv {
  background: var(--bg2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#chartsTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#speciesTitle, #bdayTitle, #persTitle{
  text-align: center;
  
}