#chartPage{
  background: var(--bg8) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
  max-height: 100%
  
}





#chartsTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#chartsHeader {
  font-weight: bolder;
  font-size: 3.25em;
  color: var(--dark_green);
}

#chartContainer {
  height: 100vh;
  
}

#speciesTitle, #bdayTitle, #persTitle{
  text-align: center;
  color: #2167d0;
  font-weight: bold;
  
}

#speciesTitle {
  margin-bottom: 15px;
}

#personalityChart, #speciesChart, #birthdayChart {
  margin-bottom: 20px;
}

#speciesChart {
  margin-top: 40px;
  height: 550px;
}

@media screen and (min-width: 776px) {
  #chartPage {
    height: 140vh;
  }
}