#footer {
  height: 2em !important;
  background: none !important;
  font-size: 1em;
  justify-content: center;
}

#footer_container {
  border-radius: 5px;
  filter: drop-shadow(5px 5px 11px #060606);
  border: 1px solid var(--home_font);
}

#footer li,
#footer_btn {
  background-color: var(--home_textbox) !important;
  color: var(--home_font);
  border: none;
  background: none;
  text-decoration: none;
}

#footer_btn {
  background: none !important;
  padding: 0;
  margin: 0;
}

#footer_btn:hover {
  color: var(--home_font_alt);
  background-color: var(--home_font) !important;
}
