:root {
  --home_dark: #39383d;
}

#homepage {
  background: var(--home_bg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Dosis", sans-serif !important;
}

#homepage .container {
  margin-bottom: 2em;
  overflow: hidden;
}

#title img {
  filter: drop-shadow(10px 10px 15px #060606);
}

#intro {
  height: 100%;
  max-width: 80%;
  background-color: var(--home_textbox);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#intro p {
  font-size: 1.15rem;
  color: var(--home_font);
  font-weight: lighter;
}

#enter .btn {
  background-color: var(--home_btn);
  width: 75%;
  margin-bottom: 5px;
  color: var(--home_btn_pri);
}

#enter .btn:hover {
  background-color: var(--home_btn_accent);
  color: var(--home_btn_alt);
}

#intro,
#homepage #card_big img,
#homepage #icon img,
#homepage #enter .btn,
#homepage .back {
  filter: drop-shadow(1px 5px 7px #060606);
}

#homepage #icon_container {
  padding-top: 30px;
  padding-bottom: 20px;
}

#fish_card {
  width: 75%;
  border: 1px solid white;
  background: var(--home_bg) no-repeat center center fixed;
}

/*Animation for cards*/
.flip-container {
  perspective: 1000;
  margin-top: 15px;
}

.flipper {
  transform-style: preserve-3d;
  display: flex;
  align-items: stretch;
  transition: transform 0.6s;
  will-change: transform;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  flex: 0 0 auto;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
}

.front img {
  max-height: 200px;
}

.back {
  height: 200px;
  transform: rotateY(180deg);
  margin-left: -100%;
  background: none;
  margin-right: 100px;
  font-size: 0.9rem;
}

.back p {
  margin: 10px;
}

.back img {
  width: 80px;
}

.back_card {
  width: 225px;
  min-height: 100%;
  overflow-y: auto;
  background-color: var(--home_textbox);
  color: var(--home_font);
}

.back_card::-webkit-scrollbar-track {
  background-color: transparent;
}

.back_card::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.back_card::-webkit-scrollbar-thumb {
  background-color: var(--home_btn);
}

#drop_btn {
  width: 100%;
  border: none;
  background: transparent;
}

/* Animation for ICONS */
#homepage #icon_container img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
