#homepage {
  height: 100vh;
  max-height: 100%;
  overflow: auto;
  background: var(--bg6) no-repeat center center fixed;
  background-size: cover;
}

#homepage .container {
  max-height: 100%;
}

#title img {
  filter: drop-shadow(10px 10px 15px #060606);
}

#intro {
  height: 100%;
  max-width: 80%;
  background-color: var(--textbox);
  filter: drop-shadow(1px 5px 7px #060606);
  border-radius: 10px;
  padding: 10px;
}

#enter .btn {
  background-color: var(--green);
  width: 75%;
  margin-bottom: 5px;
}

#enter .btn:hover {
  background-color: var(--dark_green);
}

#homepage #villager img,
#homepage #icon img,
#homepage #enter .btn,
#homepage .card_back {
  filter: drop-shadow(1px 5px 7px #060606);
}

#homepage #icon_container {
  padding-top: 30px;
}

/* Animation for cards */
#homepage .card_flip_container {
  perspective: 1000;
  padding: 20px;
}

#homepage .card_flip_container {
  display: flex;
  justify-content: center;
}

#homepage .card_flipper {
  transform-style: preserve-3d;
  display: flex;
  align-items: stretch;
  width: 80%;
  transition: transform 0.6s;
  will-change: transform;
}
#homepage .card_flip_container:hover .card_flipper {
  transform: rotateY(180deg);
}
#homepage .card_front,
#homepage .card_back {
  width: 100%;
  flex: 0 0 auto;
  backface-visibility: hidden;
  font-size: 1.25vh;
}
#homepage .card_back {
  transform: rotateY(180deg);
  margin-left: -100%;
  border-radius: 8px;
  background-color: aliceblue;
}

#homepage .card_back p {
  margin: 0.5em;
}

#homepage .card_back img {
  height: 80px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #homepage .card_flipper {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  #homepage .card_flipper {
    width: 90%;
  }
}
/* Animation for ICONS */
#homepage #icon_container img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
