* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif !important;
}

:root {
  --bg-color: lightblue;
  --bg2: url(../img/tom.png);
  --bg3: url(../img/stars.png);
  --bg3: url(../img/isabelle.png);
  --bg4: url(../img/underwater.png);
  --bg5: url(../img/bg_leaf_3.jpg);
  --bg6: url(../img/bg_blue.png);
  --bg7: url(../img/stars.png);
  --bg8: url(../img/bg_island.jpg);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
  --green: #4eb967;
  --dark_green: #18935a;
  --colblue: #73b8bf;
  --colblue2: #5cacf2;
  --sand: #fffea1;
  --sand2: #f2dc9b;
  --bubb: #fffae4;
  --oran: #fd9b15;
  --gr: #8df25e;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 3px;
  /*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
