* {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif !important;
}

:root {
  --bg-color: lightblue;
  --bg2: url(../img/tom.png);
  --bg3: url(../img/stars.png);
  --bg3: url(../img/isabelle.png);
  --bg4: url(../img/underwater.png);
  --bg5: url(../img/bg_leaf_3.jpg);
  --bg6: url(../img/bg_blue.png);
  --bg7: url(../img/stars.png);
  --bg8: url(../img/bg_island.jpg);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
  --green: #4eb967;
  --dark_green: #18935a;
  --colblue: #73b8bf;
  --colblue2: #5cacf2;
  --sand: #fffea1;
  --sand2: #f2dc9b;
  --bubb: #fffae4;
  --oran: #fd9b15;
  --gr: #8df25e;
}

/* Default Theme - Villagers */
.theme_villagers {
  --home_bg: #eafcdc;
  --home_btn: #66b888;
  --home_btn_accent: #bcf8cb;
  --home_textbox: #ffeab8;
  --home_card_bg: #f2d99a;
  --home_font: #39383d;
  --inversion: invert(80);
}

/* Theme - Fish */
.theme_fish {
  --home_bg: #b1f5fb;
  --home_btn_accent: #b8f0ed;
  --home_btn: #49a5b2;
  --home_textbox: #006a84;
  --home_font: #fffffa;
  --inversion: invert(0%);
  --home_card_bg: #e8dece;
  --fish_card: url("../img/underwater.png");
}

/* Theme - Fossils */
.theme_fossils {
  --home_bg: #ffeab8;
  --home_btn: #664a44;
  --home_btn_accent: #f0e0cc;
  --home_textbox: #836b55;
  --home_font: #fffffa;
  --inversion: invert(0%);
  --home_card_bg: #e8dece;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 3px;
  /*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
