#navbar {
  background-color: var(--home_textbox) !important;
  color: var(--home_font) !important;
  border-bottom: 1px solid var(--home_font);
  text-align: center !important;
}

#logo {
  width: 15rem;
  filter: var(--inversion);
}

#nav_text {
  color: var(--home_font);
}

#nav_text:hover {
  color: var(--home_font_alt);
  background-color: var(--home_font);
}

#Home_Icon {
  font-size: 2rem;
  color: var(--home_font);
}
