#navbar {
  background-color: var(--home_textbox) !important;
  color: var(--home_font) !important;
}

#logo {
  width: 15rem;
  filter: var(--inversion);
}

#nav_text {
  color: var(--home_font) !important;
}
