:root {
  --bg2: url(../img/tom.png);
}

#searchDiv {
  background: var(--bg2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#logo {
  height: 40px;
}
#searchHeader {
  padding-top: 5px;
}
#searchTitle {
  text-align: center;
  background-color: #c9859a;
  border-radius: 20px;
  font-weight: bolder;
  color: white;
  outline: auto;
  box-shadow: 5px 5px 5px 5px grey;
}
#searchBarCol {
  text-align: center;
  background-color: #c99d85;
  border-radius: 20px;
  outline: auto;
  color: white;
  font-weight: bolder;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -40px;
  box-shadow: 5px 5px 5px 5px grey;
}
#villagers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #86caa1;
  border-radius: 5px;
  margin-top: -15px;
  outline: auto;
  outline-color: white;
  margin-bottom: 85px;
  box-shadow: 5px 5px 5px 5px grey;
}
#villagerSearch {
  width: 40%;
  border-radius: 5px;
}
#personalitySelect,
#speciesSelect {
  width: 40%;
  border-radius: 5px;
  height: 1.8em;
}
#searchButton {
  margin-left: 2px;
  border-radius: 5px;
  background-color: #86caa1;
  color: white;
  font-weight: bolder;
}
#speciesButton {
  margin-left: 2px;
  border-radius: 5px;
  background-color: #c9859a;
  color: white;
  font-weight: bolder;
}
#nameButton {
  margin-left: 2px;
  border-radius: 5px;
  background-color: #c9859a;
  color: white;
  font-weight: bolder;
}
#personalityButton {
  margin-left: 2px;
  border-radius: 5px;
  background-color: #b5b6f7;
  color: white;
  font-weight: bolder;
}
img {
  width: 250px;
  height: 250px;
  justify-self: center;
  border-radius: 5px;
}
.villagerP {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  max-width: 250px;
}
h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  max-width: 250px;
}
.innerCard {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card {
  background-color: transparent;
  width: 270px;
  height: 346px;
  margin: 5px;
  border: transparent;
  backface-visibility: hidden;
}
.card:hover .innerCard {
  transform: rotateY(180deg);
}
.cardFront,
.cardBack {
  padding-top: 5px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.cardFront {
  background-color: white;
}
.cardBack {
  transform: rotateY(180deg);
  background-color: #c9859a !important;
  border: white;
  color: white;
  outline: auto;
}
