:root {
  --bg1: url(../img/bg_island.jpg);
  --bg2: url(../img/bg_blue.png);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
}

.homepage {
  border: 3px solid green;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage .container {
  background: lightcyan;
  border: 1px dashed black;
}

#title {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

#title img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  margin: 0 auto;
  filter: drop-shadow(10px 4px 10px #060606);
}

#intro {
  border: 1px dashed pink;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px;
  font-size: 2vh;
  background-color: var(--textbox);
  filter: drop-shadow(1px 5px 7px #060606);
}

#icon_container {
  border: 2px dashed purple;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

#icon_container img {
  border: 3px solid blue; /* for styling */
  width: 10%;
  height: auto;
  object-fit: contain;
  margin: 10px;
}

.btn {
  width: 50%;
  border: none !important;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: #327a93 !important;
  filter: drop-shadow(1px 5px 7px #060606);
}

.btn:hover {
  color: black !important;
  background-color: #bcddc8 !important;
}

.row {
  border: 2px dashed red;
}

.col {
  border: 1px dashed pink;
}

/** Flip animation for cards **/
.flip-card {
  background-color: transparent;
  max-width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(1px 5px 7px #060606);
}

#villager img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.flip-card-back {
  width: auto;
  max-width: 100%;
  top: 25%;
  height: 50%;
  position: relative;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/** Shake animation for icons **/
#icon_container img:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
