:root{
  --bg1: url(../img/bg_island.jpg);
}

.villager_container {
  border: 1px solid red;
   width:250px; /* or whatever width you want. */
   max-width:250px; /* or whatever width you want. */
   height:250px; /* or whatever width you want. */
   max-height:250px; /* or whatever width you want. */
   display: inline-block;
}

.btn {
  width: 75%;
}

body {
  background: var(--bg1) no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
