:root {
  --bg1: url(../img/bg_island.jpg);
  --bg2: url(../img/bg_blue.jpg);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
}

* {
  font-family: "Dosis", "Roboto", sans-serif;
}

.col {
  border: 1px solid purple;
}

#title {
  padding: 7px;
  font-size: 3.25em;
  font-weight: bold;
  color: var(--gold);
  -webkit-text-stroke: 2px var(--wood);
  filter: drop-shadow(1px 1px 1px #060606);
}

#intro {
  border: 1px solid green;
  padding: 7px;
  background-color: var(--textbox);
  filter: drop-shadow(1px 5px 7px #060606);
}

.container-fluid{
  padding: 20px !important;
}

.villager_container {
  border: 1px solid red;
  width: 250px; /* or whatever width you want. */
  max-width: 250px; /* or whatever width you want. */
  height: 250px; /* or whatever width you want. */
  max-height: 250px; /* or whatever width you want. */
  display: inline-block;
}

.btn {
  width: 20vh;
  border: none !important;
  background-color: #327a93 !important;
  filter: drop-shadow(1px 5px 7px #060606);
}

.btn:hover{
  color: black !important;
  background-color: #bcddc8 !important;
}

main {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  background: var(--bg2) no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}