:root {
  --bg1: url(../img/bg_island.jpg);
  --bg2: url(../img/bg_blue.png);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
}

.homepage {
  border: 3px solid green;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homepage .container {
  background: lightcyan;
  border: 1px dashed black;
  height: 100%;
  margin: 5px;
}

#title {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

#title img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  margin: 0 auto;
  filter: drop-shadow(10px 4px 10px #060606);
}

#intro {
  border: 1px dashed pink;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px;
  font-size: 2vh;
  background-color: var(--textbox);
  filter: drop-shadow(1px 5px 7px #060606);
}

#villager img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(1px 5px 7px #060606);
}

#icon_container {
  border: 2px dashed purple;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

#icon_container img {
  border: 3px solid blue; /* for styling */
  width: 15%;
  height: auto;
  object-fit: contain;
  margin: 10px;
}

.btn {
  width: 50%;
  border: none !important;
  margin: 5px;
  font-size: 16px;
  color: white;
  background-color: #327a93 !important;
  filter: drop-shadow(1px 5px 7px #060606);
}

.btn:hover {
  color: black !important;
  background-color: #bcddc8 !important;
}

.row {
  border: 2px dashed red;
}

.col {
  border: 1px dashed pink;
}
