:root {
  --bg1: url(../img/bg_island.jpg);
  --bg2: url(../img/bg_blue.jpg);
  --textbox: #ffe599;
  --wood: #976e29;
  --gold: #ffc936;
}

* {
  font-family: "Dosis", "Roboto", sans-serif;
}

#title {
  padding: 7px;
  font-size: 3.25em;
  font-weight: bold;
  color: var(--gold);
  -webkit-text-stroke: 2px var(--wood);
  filter: drop-shadow(1px 1px 1px #060606);
}

#intro {
  border: 1px solid green;
  padding: 7px;
  background-color: var(--textbox);
  filter: drop-shadow(1px 5px 7px #060606);
}

.container-fluid {
  padding: 20px !important;
}

.villager_container {
  border: 1px solid red; /* for styling */
  max-width: 300px;
  height: 300px;
}

.villager_container img {
  border: 3px solid blue; /* for styling */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon_container,
.icon_container .col {
  padding-top: 20px;
  border: 5px dashed darkorange;
}

.icon_container .col {
  border: 2px dashed #f69c55;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon_container img {
  border: 3px solid blue; /* for styling */
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.btn-group-vertical {
  border: 2px solid black;
}

.btn {
  width: 30vh;
  border: none !important;
  margin: 5px;
  background-color: #327a93 !important;
  filter: drop-shadow(1px 5px 7px #060606);
}

.btn:hover {
  color: black !important;
  background-color: #bcddc8 !important;
}

main {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  background: var(--bg2) no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
