body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
#searchDiv {
  height: 100vh;
  background-image: url(./img/tom.png);
}
#logo {
  border: 5px solid white;
  height: 75px;
  width: 220px;
}
#searchHeader {
  text-align: center;
  background-color: #c9859a;
  border-radius: 20px;
  font-weight: bolder;
  color: white;
  outline: auto;
}
#searchPar {
  text-align: center;
  background-color: #c99d85;
  border-radius: 20px;
  outline: auto;
  color: white;
  font-weight: bolder;
}
